html {
  scroll-behavior: smooth;
}


body {
  background-color: #BB2528;
  color: whitesmoke;
  width: 100vw;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
}

form {
  display: grid;
  width: 100vw;
}

input {
  font-size: 2rem;
  
}



h1 {
  font-size: 3rem;
  font-family: "Mountains of Christmas", cursive;
}

h2 {
  font-size: 3rem;
  border: ridge 1vw rgba(20, 107, 58, 0.541);
  padding: 1vw;
}

button {
  text-transform: uppercase;
  margin: 1vh 0vh;
  font-size: 2rem;
}

#output {
  display: grid;
  margin: 1rem 0;
  height: auto;
  justify-content: center;
}

.hidden {
  display: none;
  height: 0%;
}

