html {
  scroll-behavior: smooth;
}


body {
  background-color: #BB2528;
  color: whitesmoke;
  width: 100vw;
  font-family: 'Oxygen', sans-serif;
}

form {
  width: 75%;
  margin-left: 10%;
  display: grid;
}

input {
  font-size: ;
  margin-bottom: 0.5rem;
}

label {
  margin-right: 1rem;
  font-size: ;
}

h1 {
  font-size: ;
  font-family: "Mountains of Christmas", cursive;
}

h2 {
  font-size: ;
  border: ridge 1vw #146B3A;
  padding: 1vw;
}

button {
  font-size: ;
  text-transform: uppercase;
  text-decoration: underline;
}

#output {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  
}

.hidden {
  display: none;
}