html {
  scroll-behavior: smooth;
}


body {
  background-color: rgb(156, 020, 020);
  color: whitesmoke;
  font-family: "Mountains of Christmas", cursive;
  width: 100vw;
}

form {
  width: 75%;
  margin-left: 10%;
  display: grid;
}

input {
  height: 3rem;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

label {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

button {
  font-size: 3rem;
  text-transform: uppercase;
  text-decoration: underline;
}

#output {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}
