/* Dom elements */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #BB2528;
  color: whitesmoke;
  width: 100vw;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Form elements */
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

input {
  font-size: 1.5rem;
  width: 100%;
  
}
/* Divs */
#main {
  padding-top: 10%;
  width: 40%;
  height: 100%;
  margin: 0 30%;
  box-sizing: border-box;
}

#output {
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
  height: 0%;
}

/* Headers and paragraphs */
h1 {
  font-size: 2rem;
  font-family: "Mountains of Christmas", cursive;
  line-break: auto;
}

h2 {
  font-size: 1.5rem;
  border: ridge 1vw rgba(20, 107, 58, 0.541);
  line-break: auto;
  word-break: break-all;
}

/* Button */
button {
  text-transform: uppercase;
  padding: 1vh 0vh;
  font-size: 1rem;
  box-sizing: border-box;
  width: 100%;
}

/* Media Queries*/
@media screen and (max-width: 450px) {
  #main {
    width: 95%;
    margin: 0 2.5%;
  }
}